.video{
    width: 100%;
    background-color: #000518;
    display: flex;
    justify-content: center;
}
.video .iframe{
    width: 70%;
}
.intro{
    background-color: #02212C;
    
}
.col-lg-6 img{
    width: 90%;
    
}
.col-lg-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}
.col-lg-6 p{
    color: #fff;
    text-align: justify;
    font-size: 18px;
    width: 90%;
}


.col-lg-4 a{
    text-decoration: none;
    color: #fff;
}
.col-lg-4 a:hover{
    text-decoration: underline;
}


.edicoes{
    background-image: url(../imgs/fundoEdicoes.png);
    color: #fff;
}
.edicoes h1{
    padding: 2vh 0;
}
.edicoes h3{
    padding: 2vh 0;
}
.edicao{
    width: 300px;
}

@media screen and (max-width: 720px) {    
    .video .iframe{
        width: 100%;
    }
}
